// you can change colors here
@font-face {
  font-family: 'Genshin';
  src: url('/assets/Genshin.woff2');
}
$theme-colors: #096dd9, #f26d6d, #3eaf7c, #fb9b5f, #ffd43b, #9a7fd1;
$font-family:  'Genshin, apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", STHeiti, "Microsoft YaHei", SimSun, sans-serif';